.chatContainer {
  width: 90%;
  margin: 40px auto;
  padding: 1rem;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  font-weight: bold;
}

.chatBox {
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 400px;
  overflow-y: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.chatWrap {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.userChatWrap {
  align-items: flex-end;
}

.sender {
  width: 100%;
  font-weight: bold;
  margin-bottom: 0.25rem;
  text-align: left;
  font-size: 0.9rem;
  color: #424242;
}

.userSender {
  display: none;
}

.message {
  width: 80%;
  border-radius: 16px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  text-align: left;
  box-sizing: border-box;
}

.assistantMessage {
  background-color: #f1f7ff;
}

.userMessage {
  color: white;
  background-color: #4629f2;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #4629f2;
  border-radius: 16px;
  background-color: #fff;
  width: 90%;
  box-sizing: border-box;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #4629f2;
  padding-left: 1rem;
  border-radius: 16px;
}

.input::placeholder {
  color: #4629f2;
  font-size: 0.8rem;
  opacity: 0.8;
  border-radius: 16px;
}

.input:disabled {
  background: none;
  display: none;
}

.button {
  background-color: #4629f2;
  color: #fff;
  border: none;
  padding: 0.5rem 1.6rem;
  cursor: pointer;
  border-radius: 14px;
}

.icon {
  width: 24px;
  height: 24px;
}

.generateButton {
  background-color: #4629f2;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 14px;
  font-size: 1rem;
  width: 100%;
}
