.section {
  padding: 2rem;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.sectionLeft {
  display: flex;
  align-items: center;
}

.sectionTitle {
  font-size: 1.5rem;
}

.sectionRight {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  height: 10%;
}

.cardProfileWrap {
  display: flex;
  align-items: center;
}

.cardProfile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.cardProfileImg {
  object-fit: cover;
}

.cardHeaderInfo {
  flex: 1;
  margin-left: 1rem;
}

.cardTitle {
  font-weight: bold;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardUser {
  font-weight: bold;
  font-size: 1rem;
}

.cardMenuButton {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.cardImage {
  background: #f4f4f4;
  height: 40%;
  margin-bottom: 1rem;
  border-radius: 16px;
}

.cardContent {
  margin-bottom: 1rem;
  height: 40%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cardSubhead {
  font-size: 0.875rem;
  color: #888;
  margin-bottom: 0.5rem;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.likeIcon {
  margin-right: 0.5rem;
}

.categoriesWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.categories {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 0.5rem;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  background: #f4f4f4;
  border-radius: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.activeCategory {
  background: #4629f2;
  color: #fff;
}

.searchWrap {
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.searchBox {
  width: 15rem;
  display: flex;
  border-bottom: 1px solid #888;
  box-sizing: border-box;
  padding: 0.4rem;
  align-items: center;
}

.searchIcon {
  font-size: 1rem;
  color: #888;
  font-weight: lighter;
  padding-right: 0.4rem;
}

.searchInput {
  background: none;
  border: none;
  color: #888;
  font-size: 1rem;
  box-sizing: border-box;
}

.searchInput::placeholder {
  color: #888;
  font-size: 1rem;
}

.tempform {
  font-size: 10px;
}

.tempcoment {
  font-size: 25px;
  text-align: center;
  margin-bottom: 0;
}
.pageinputform {
  display: block;
  margin: auto;
  font-size: medium;
  width: 290px;
  height: 30px;

  padding: 5px;
  margin-top: 30px;
}

.okbutton {
  border-radius: 5px;
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  margin: 10px auto;
  background-color: #4629f2;
  color: #fff;
}

.closebutton {
  border-radius: 4px;
  width: 300px;
  height: 30px;
  box-sizing: border-box;
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid #4629f2;
  background-color: #fff;
  color: #4629f2;
}
